# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo

# =========================
# Python Virtual Environment
# =========================
venv/
.venv/
env/
ENV/

# =========================
# Django
# =========================
*.log
staticfiles/

# Uploaded files
media/

# SQLite database
*.sqlite3
db.sqlite3

# =========================
# Environment variables
# =========================
.env
.env.*

# =========================
# Node / React
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# React / Vite
frontend/dist/
frontend/.vite/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Windows
# =========================
Thumbs.db
Desktop.ini